@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em { font-style: italic; }

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;   
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a { 
    display: inline-block;
    text-decoration: none; 
}

li {
    display: inline-block;
    list-style-type: none;
}

/*for wrapper*/
.wrapper {
    max-width: 1360px;
    width: 94%; 
    margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
/*login page header start*/
body { 
    background-image: url(../images/login-bck.jpg);
    background-size: cover;
}

header {
    padding-top: 15px ;
    padding-bottom: 20px;
}

h1 a img { 
    width: 80px;
    height: 80px;
}
/*login page header stop */
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*login page-form section start */
.tagline-login { text-align: center; }

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(248, 248, 248);
    font-family: serif;
    font-size: 36px;
    
}

.subline {
    display: block;
    text-align: center;
    font-family: monospace;
    color: rgb(248, 248, 248);
    font-size: 24px;
}

.experience { font-size: 28px; }

.login-btn { 
    padding: 8px 30px;
    margin-top: 25px;
    border: 2px solid;
    border-radius: 5px;
    color:rgb(46, 45, 45);
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    font-weight: bold;
}

.login-btn:hover { 
    background-color:rgb(167, 166, 166,.1);
    color: rgb(248, 248, 248); ;
    transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -ms-transition: .8s ease-in-out;
    -moz-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
}

.modal {
    width: 400px;
    margin: 40px auto;
    background-color:rgb(255, 251, 251);
}

.closeModal {
    
}
.login-form {
    padding: 0 30px 30px 30px;
    color: rgb(198, 240, 10);
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 90%;
    padding: 8px;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: none;
}

::placeholder { color: rgb(182, 179, 179);}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus { outline:transparent }


.email-error,
.pass-error {
    opacity: 0;
    padding-left: 18px;
    padding-bottom: 5px;
    display:block;
    text-transform:capitalize;
    font-size: 10px;
    color: rgb(253, 15, 154);
}

.form-input { margin-top: 15px;}
.form-input:after{
    content: "";
    width: 340px;
    height: 2px;
    background-image: linear-gradient(to right,rgb(243, 52, 52),black,rgb(243, 52, 52));
    position: absolute;
    display: block;
 }

.submit-form { text-align: center; }

.go { 
    padding: 10px 30px;
    margin-top: 25px;
    border: 1.5px solid;
    border-radius: 4px;
    background-color:white;
    color: black;
    font-weight: bold;
}
.go:hover{ 
    background:black;
    color: white;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/*js class*/
.displayn { display: none; }
.displayb { display: block }
/*js class end*/
/*login page-form section stop */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  